<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,766},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,812},{43,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,37}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>desc_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1003,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1003,56}}</string>
                <key>sourceSize</key>
                <string>{1003,56}</string>
            </dict>
            <key>location_facing.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,683},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>location_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,683},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>location_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>location_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,592},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>look_over_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,472},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,411},{331,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,59}}</string>
                <key>sourceSize</key>
                <string>{331,59}</string>
            </dict>
            <key>lose_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,426},{429,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,93}}</string>
                <key>sourceSize</key>
                <string>{429,93}</string>
            </dict>
            <key>lose_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,300},{553,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,40}}</string>
                <key>sourceSize</key>
                <string>{553,40}</string>
            </dict>
            <key>lose_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,384},{514,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,40}}</string>
                <key>sourceSize</key>
                <string>{514,40}</string>
            </dict>
            <key>lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,258},{68,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,547}}</string>
                <key>sourceSize</key>
                <string>{68,547}</string>
            </dict>
            <key>lose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,670},{69,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,157}}</string>
                <key>sourceSize</key>
                <string>{69,157}</string>
            </dict>
            <key>lose_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,688},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>lose_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{721,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,97}}</string>
                <key>sourceSize</key>
                <string>{721,97}</string>
            </dict>
            <key>lose_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,571},{155,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,97}}</string>
                <key>sourceSize</key>
                <string>{155,97}</string>
            </dict>
            <key>lose_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,759},{72,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,289}}</string>
                <key>sourceSize</key>
                <string>{72,289}</string>
            </dict>
            <key>lose_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,807},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>lose_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,672},{138,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>sourceSize</key>
                <string>{138,77}</string>
            </dict>
            <key>round_settle_user_bg_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,60},{288,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,257}}</string>
                <key>sourceSize</key>
                <string>{288,257}</string>
            </dict>
            <key>round_settle_user_bg_winer.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,426},{288,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,257}}</string>
                <key>sourceSize</key>
                <string>{288,257}</string>
            </dict>
            <key>settle_round_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,592},{83,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,350},{331,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,59}}</string>
                <key>sourceSize</key>
                <string>{331,59}</string>
            </dict>
            <key>win_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,426},{429,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,99}}</string>
                <key>sourceSize</key>
                <string>{429,99}</string>
            </dict>
            <key>win_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,258},{553,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,40}}</string>
                <key>sourceSize</key>
                <string>{553,40}</string>
            </dict>
            <key>win_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,342},{514,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,40}}</string>
                <key>sourceSize</key>
                <string>{514,40}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{68,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,547}}</string>
                <key>sourceSize</key>
                <string>{68,547}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,670},{69,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,157}}</string>
                <key>sourceSize</key>
                <string>{69,157}</string>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,612},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{721,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,97}}</string>
                <key>sourceSize</key>
                <string>{721,97}</string>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,472},{155,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,97}}</string>
                <key>sourceSize</key>
                <string>{155,97}</string>
            </dict>
            <key>win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,685},{72,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,289}}</string>
                <key>sourceSize</key>
                <string>{72,289}</string>
            </dict>
            <key>win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,426},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,472},{138,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>sourceSize</key>
                <string>{138,77}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,258},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settle_round.png</string>
            <key>size</key>
            <string>{1007,857}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65eabe7355ced26d67c497a47e9064dc:e6548922ebb1b297f6a19cdafd34528a:b24657e5720ca27ca7387643a5703ed1$</string>
            <key>textureFileName</key>
            <string>settle_round.png</string>
        </dict>
    </dict>
</plist>
