<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_block_chow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,340}}</string>
                <key>sourceSize</key>
                <string>{434,340}</string>
            </dict>
            <key>anim_block_chow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{338,264}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{338,264}}</string>
                <key>sourceSize</key>
                <string>{434,340}</string>
            </dict>
            <key>anim_block_chow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{274,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,63},{274,214}}</string>
                <key>sourceSize</key>
                <string>{434,340}</string>
            </dict>
            <key>anim_block_chow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,218},{216,202}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,74},{216,202}}</string>
                <key>sourceSize</key>
                <string>{434,340}</string>
            </dict>
            <key>anim_block_chow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{148,130}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,109},{148,130}}</string>
                <key>sourceSize</key>
                <string>{434,340}</string>
            </dict>
            <key>anim_block_chow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,218},{210,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,84},{210,182}}</string>
                <key>sourceSize</key>
                <string>{434,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_block_chow.png</string>
            <key>size</key>
            <string>{1018,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30f29542b4e1e70c899f56ff68e6743a:64006ebc0ad3022913560e20bd03247d:a819a9374e0d65d1d28d1ced00692480$</string>
            <key>textureFileName</key>
            <string>anim_block_chow.png</string>
        </dict>
    </dict>
</plist>
