<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_block_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,372}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{324,372}}</string>
                <key>sourceSize</key>
                <string>{356,418}</string>
            </dict>
            <key>anim_block_arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{256,294}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,62},{256,294}}</string>
                <key>sourceSize</key>
                <string>{356,418}</string>
            </dict>
            <key>anim_block_arrow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,328},{200,230}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,93},{200,230}}</string>
                <key>sourceSize</key>
                <string>{356,418}</string>
            </dict>
            <key>anim_block_arrow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{126,174}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,121},{126,174}}</string>
                <key>sourceSize</key>
                <string>{356,418}</string>
            </dict>
            <key>anim_block_arrow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{168,226}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,95},{168,226}}</string>
                <key>sourceSize</key>
                <string>{356,418}</string>
            </dict>
            <key>anim_block_arrow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,530},{246,212}}</string>
                <key>offset</key>
                <string>{35,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,97},{246,212}}</string>
                <key>sourceSize</key>
                <string>{356,418}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_block_arrow.png</string>
            <key>size</key>
            <string>{504,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9add062da2f0cb51d6a944b55dc8180f:1b903a29cb2044f1a7d3ac07b7e20861:261752e10cc7c28667e8f37ab2340c28$</string>
            <key>textureFileName</key>
            <string>anim_block_arrow.png</string>
        </dict>
    </dict>
</plist>
