<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thinking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,400},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,398},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,302},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,300},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{100,138}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{100,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,138}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{102,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{102,138}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{102,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{102,138}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{102,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,138}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{102,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,282},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,204},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,202},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,142},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,104},{96,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
            <key>thinking_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{96,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{96,138}}</string>
                <key>sourceSize</key>
                <string>{118,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_11.png</string>
            <key>size</key>
            <string>{498,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aa7b5a58922c6c0e12a181e64f42d4b:b24ecd0659f54ea8380cf7c44294de50:e430f01a5825432eb154a5c8fb0e44bd$</string>
            <key>textureFileName</key>
            <string>emoji_11.png</string>
        </dict>
    </dict>
</plist>
