<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>despise_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,402},{78,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{78,122}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,322},{78,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{78,122}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,242},{78,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{78,122}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{78,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{78,124}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,254},{78,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{78,124}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{78,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{78,124}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,128},{78,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{78,124}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{78,124}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{78,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{78,124}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,254},{78,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{78,124}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{78,124}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,162},{78,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{78,122}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,242},{78,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{78,122}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,82},{78,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{78,122}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{78,122}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>despise_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,402},{78,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{78,122}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_12.png</string>
            <key>size</key>
            <string>{286,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f95eb9fe245c35fcedf0aca841d0557f:b69a0549174cb80ee4840f9cee578442:c6ef6e55dd984c72deb9b8b6fc90704c$</string>
            <key>textureFileName</key>
            <string>emoji_12.png</string>
        </dict>
    </dict>
</plist>
