<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angry_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{124,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{124,218}}</string>
                <key>sourceSize</key>
                <string>{136,238}</string>
            </dict>
            <key>angry_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,224}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{132,224}}</string>
                <key>sourceSize</key>
                <string>{136,238}</string>
            </dict>
            <key>angry_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{128,228}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,228}}</string>
                <key>sourceSize</key>
                <string>{136,238}</string>
            </dict>
            <key>angry_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{124,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{124,212}}</string>
                <key>sourceSize</key>
                <string>{136,238}</string>
            </dict>
            <key>angry_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{120,206}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{120,206}}</string>
                <key>sourceSize</key>
                <string>{136,238}</string>
            </dict>
            <key>angry_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,210},{120,204}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{120,204}}</string>
                <key>sourceSize</key>
                <string>{136,238}</string>
            </dict>
            <key>angry_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,216},{124,200}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{124,200}}</string>
                <key>sourceSize</key>
                <string>{136,238}</string>
            </dict>
            <key>angry_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,228},{126,200}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{126,200}}</string>
                <key>sourceSize</key>
                <string>{136,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_2.png</string>
            <key>size</key>
            <string>{510,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff637aa3e24b8481d53aa5660099c5dc:14f7c44188b9b26676f1bd45b1c11d86:015a774ab394996a922e94deac08b656$</string>
            <key>textureFileName</key>
            <string>emoji_2.png</string>
        </dict>
    </dict>
</plist>
