<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>surprised_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{90,110}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{90,110}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,128},{102,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{102,122}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{108,126}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{108,126}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{106,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{106,124}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,126}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{108,126}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,234},{88,114}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,118},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,234},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,118},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,244},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,128},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,252},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>surprised_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,252},{88,114}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_8.png</string>
            <key>size</key>
            <string>{500,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0e997022a059de259c10d7560e7a00:06f185d8bf6fb51894cecf8ca055bf56:1a5559783a4f163e02bfca55aa38e2e8$</string>
            <key>textureFileName</key>
            <string>emoji_8.png</string>
        </dict>
    </dict>
</plist>
