<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,663},{131,125}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,55},{131,125}}</string>
                <key>sourceSize</key>
                <string>{241,237}</string>
            </dict>
            <key>anim_boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,663},{167,163}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,38},{167,163}}</string>
                <key>sourceSize</key>
                <string>{241,237}</string>
            </dict>
            <key>anim_boom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{205,203}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{205,203}}</string>
                <key>sourceSize</key>
                <string>{241,237}</string>
            </dict>
            <key>anim_boom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{223,221}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{223,221}}</string>
                <key>sourceSize</key>
                <string>{241,237}</string>
            </dict>
            <key>anim_boom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,229}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{233,229}}</string>
                <key>sourceSize</key>
                <string>{241,237}</string>
            </dict>
            <key>anim_boom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{235,227}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{235,227}}</string>
                <key>sourceSize</key>
                <string>{241,237}</string>
            </dict>
            <key>anim_boom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,231},{227,219}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{227,219}}</string>
                <key>sourceSize</key>
                <string>{241,237}</string>
            </dict>
            <key>anim_boom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,452},{221,209}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{221,209}}</string>
                <key>sourceSize</key>
                <string>{241,237}</string>
            </dict>
            <key>anim_boom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{203,197}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{203,197}}</string>
                <key>sourceSize</key>
                <string>{241,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_boom.png</string>
            <key>size</key>
            <string>{499,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec5dc3c59f17c7f7892672b4f4eabfb8:97c88fc4a14cc59635dbfb13ca666558:a2d1e4f285f320d08450580256a0577e$</string>
            <key>textureFileName</key>
            <string>anim_boom.png</string>
        </dict>
    </dict>
</plist>
