<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,432},{152,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,69}}</string>
                <key>sourceSize</key>
                <string>{152,69}</string>
            </dict>
            <key>btn_leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,406},{116,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,54}}</string>
                <key>sourceSize</key>
                <string>{116,54}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,197},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>click_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,462},{108,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,25}}</string>
                <key>sourceSize</key>
                <string>{108,25}</string>
            </dict>
            <key>game_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,231}}</string>
                <key>sourceSize</key>
                <string>{456,231}</string>
            </dict>
            <key>homeowner_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,432},{41,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,63}}</string>
                <key>sourceSize</key>
                <string>{41,63}</string>
            </dict>
            <key>ju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,367},{123,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,37}}</string>
                <key>sourceSize</key>
                <string>{123,37}</string>
            </dict>
            <key>ju_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,367},{122,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,37}}</string>
                <key>sourceSize</key>
                <string>{122,37}</string>
            </dict>
            <key>room_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,239},{86,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,39}}</string>
                <key>sourceSize</key>
                <string>{86,39}</string>
            </dict>
            <key>rule_section_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,432},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>user_node.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,239},{191,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,280}}</string>
                <key>sourceSize</key>
                <string>{191,280}</string>
            </dict>
            <key>waiting_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,334},{160,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,31}}</string>
                <key>sourceSize</key>
                <string>{160,31}</string>
            </dict>
            <key>warning_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,149},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>warning_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,235},{109,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,97}}</string>
                <key>sourceSize</key>
                <string>{109,97}</string>
            </dict>
            <key>warning_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{62,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,268}}</string>
                <key>sourceSize</key>
                <string>{62,268}</string>
            </dict>
            <key>warning_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{50,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,145}}</string>
                <key>sourceSize</key>
                <string>{50,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahjong_waiting.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a07f48953d4d35dc085575e7f0afd74:35d5901af4ed1afbf8d19d03b291c916:61f30e02e0a8da71dd9cd08153610858$</string>
            <key>textureFileName</key>
            <string>mahjong_waiting.png</string>
        </dict>
    </dict>
</plist>
