*.pyc
*.sw*
log/*
data/config.json
stats.txt
summary.txt
trace.txt
tags
local_settings.py
data/*.rank
data/*.faction
data/*.rank.daily
.vagrant
*.so
*_access.log
*_error.log
*_uwsgi.ini
*_uwsgi.log
*DS_Store
/build
