wsgiref==0.1.2
protobuf==2.4.1
mako
#pkgs/greenlet-0.4.0.zip
pkgs/gevent-1.0rc1.tar.gz
pkgs/setuptools-2.1.tar.gz
#pkgs/ultramysql.zip
pkgs/urllib3-1.5.tar.gz
pkgs/prettyexc-0.4.2.tar.gz
pkgs/requests-2.3.0.tar.gz
pkgs/itunes-iap-master.zip
pkgs/pymongo-2.6.3.tar.gz
pkgs/yunyue-0.0.1.tar.gz
pkgs/pyprotobuf.tar.gz
pkgs/ujson-1.33.zip
pkgs/credis-master.zip
#pkgs/hiredis-0.1.1.tar.gz
pkgs/hiredis-win32-0.1.4.tar.gz
pkgs/yylib-1.0.8.tar.gz
pkgs/Cython-0.20.1.tar.gz
pkgs/msgpack-python-0.3.0.tar.gz
#pkgs/uwsgi-2.0.6.tar.gz
