wsgiref==0.1.2
protobuf==2.4.1
pkgs/greenlet-0.4.0.zip
pkgs/gevent-1.0rc1.tar.gz
pkgs/setuptools-2.1.tar.gz
pkgs/urllib3-1.5.tar.gz
pkgs/prettyexc-0.4.2.tar.gz
pkgs/requests-2.3.0.tar.gz
pkgs/itunes-iap-master.zip
pkgs/pymongo-2.6.3.tar.gz
pkgs/yunyue-0.0.1.tar.gz
pkgs/pyprotobuf.tar.gz
pkgs/ujson-1.33.zip
pkgs/credis-master.zip
pkgs/hiredis-0.1.1.tar.gz
pkgs/yylib-1.0.12.tar.gz
pkgs/yy.sdk-1.0.16.tar.gz
pkgs/Cython-0.23.tar.gz
pkgs/msgpack-python-0.3.0.tar.gz
pkgs/uwsgi-master-01dfed383f1.tar.gz
#pkgs/lupa-1.1.tar.gz
pkgs/raven-5.1.1-py2.py3-none-any.whl
pkgs/geventhttpclient.tar.gz
pkgs/bottle-0.12.8.tar.gz
pkgs/Mako-1.0.3.tar.gz
pkgs/cprotobuf.zip
gitpython
rq
