<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{298,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,110}}</string>
                <key>sourceSize</key>
                <string>{298,110}</string>
            </dict>
            <key>btn_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{298,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,110}}</string>
                <key>sourceSize</key>
                <string>{298,110}</string>
            </dict>
            <key>btn_advance_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,123}}</string>
                <key>sourceSize</key>
                <string>{327,123}</string>
            </dict>
            <key>btn_advance_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{299,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,112}}</string>
                <key>sourceSize</key>
                <string>{299,112}</string>
            </dict>
            <key>btn_ali_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,765},{258,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,95}}</string>
                <key>sourceSize</key>
                <string>{258,95}</string>
            </dict>
            <key>btn_apple_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,668},{258,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,95}}</string>
                <key>sourceSize</key>
                <string>{258,95}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,737},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,952},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>btn_common_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,203},{228,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,89}}</string>
                <key>sourceSize</key>
                <string>{228,89}</string>
            </dict>
            <key>btn_common_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,112},{228,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,89}}</string>
                <key>sourceSize</key>
                <string>{228,89}</string>
            </dict>
            <key>btn_common_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{228,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,89}}</string>
                <key>sourceSize</key>
                <string>{228,89}</string>
            </dict>
            <key>btn_delete_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,728},{149,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,110}}</string>
                <key>sourceSize</key>
                <string>{149,110}</string>
            </dict>
            <key>btn_delete_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,616},{149,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,110}}</string>
                <key>sourceSize</key>
                <string>{149,110}</string>
            </dict>
            <key>btn_gamerule.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,494},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,45}}</string>
                <key>sourceSize</key>
                <string>{92,45}</string>
            </dict>
            <key>btn_gameselect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,465},{265,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,104}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>btn_gameselect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{265,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,104}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>btn_keyboard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,812},{142,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,110}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>btn_keyboard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,840},{142,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,110}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>btn_rename.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,588},{147,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,80}}</string>
                <key>sourceSize</key>
                <string>{147,80}</string>
            </dict>
            <key>btn_wechat_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,571},{258,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,95}}</string>
                <key>sourceSize</key>
                <string>{258,95}</string>
            </dict>
            <key>button_activity_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,394},{170,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,98}}</string>
                <key>sourceSize</key>
                <string>{170,98}</string>
            </dict>
            <key>button_activity_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,294},{170,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,98}}</string>
                <key>sourceSize</key>
                <string>{170,98}</string>
            </dict>
            <key>cb_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,621},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>cb_background_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,572},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>cb_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,461},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>cb_cross_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,421},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>color_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,108},{249,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,2}}</string>
                <key>sourceSize</key>
                <string>{249,2}</string>
            </dict>
            <key>combo_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,203},{216,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,65}}</string>
                <key>sourceSize</key>
                <string>{216,65}</string>
            </dict>
            <key>combo_box_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,670},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>combo_box_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,956},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>combo_box_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,449},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>combo_box_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,555},{174,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,59}}</string>
                <key>sourceSize</key>
                <string>{174,59}</string>
            </dict>
            <key>combo_box_unchecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,494},{174,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,59}}</string>
                <key>sourceSize</key>
                <string>{174,59}</string>
            </dict>
            <key>coming_soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,616},{153,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,31}}</string>
                <key>sourceSize</key>
                <string>{153,31}</string>
            </dict>
            <key>dividing_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{372,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,14}}</string>
                <key>sourceSize</key>
                <string>{372,14}</string>
            </dict>
            <key>friend_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,952},{60,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,146}}</string>
                <key>sourceSize</key>
                <string>{60,146}</string>
            </dict>
            <key>help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,828},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>img_room_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,501},{62,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,69}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>img_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,771},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>item_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,840},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>item_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{298,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,61}}</string>
                <key>sourceSize</key>
                <string>{298,61}</string>
            </dict>
            <key>limit_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,294},{153,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,31}}</string>
                <key>sourceSize</key>
                <string>{153,31}</string>
            </dict>
            <key>rb_link.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,294},{105,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,7}}</string>
                <key>sourceSize</key>
                <string>{105,7}</string>
            </dict>
            <key>rb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,754},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>rb_normal_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,716},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>rb_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,150},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>rb_selected_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,112},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>scale9.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,792},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>section_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,956},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,70}}</string>
                <key>sourceSize</key>
                <string>{42,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{600,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc6d823c4b5828e0f69e719fd3214808:48ca2c74d22f77000d19d497555e43b1:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
