<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_common__arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,464},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>game_common_checkbox_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,761},{70,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,51}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>game_common_checkbox_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,916},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>game_common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,305},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>game_common_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,510},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>game_common_gps_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,680},{278,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,84}}</string>
                <key>sourceSize</key>
                <string>{278,84}</string>
            </dict>
            <key>game_common_gps_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,594},{278,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,84}}</string>
                <key>sourceSize</key>
                <string>{278,84}</string>
            </dict>
            <key>game_common_hsv_drag.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,814},{35,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,70}}</string>
                <key>sourceSize</key>
                <string>{35,70}</string>
            </dict>
            <key>game_common_hsv_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,357},{322,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,20}}</string>
                <key>sourceSize</key>
                <string>{322,20}</string>
            </dict>
            <key>game_common_hsv_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,331},{326,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,24}}</string>
                <key>sourceSize</key>
                <string>{326,24}</string>
            </dict>
            <key>game_common_hsv_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,305},{326,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,24}}</string>
                <key>sourceSize</key>
                <string>{326,24}</string>
            </dict>
            <key>game_common_rule_bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,899},{140,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,99}}</string>
                <key>sourceSize</key>
                <string>{140,99}</string>
            </dict>
            <key>game_common_rule_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,766},{131,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>game_common_rule_section.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,577},{124,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,35}}</string>
                <key>sourceSize</key>
                <string>{124,35}</string>
            </dict>
            <key>game_common_rule_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,549},{131,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>game_common_scale9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,814},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_common_scale9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,379},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>game_common_scale9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,686},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_common_scale9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,686},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_common_slider_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,268},{406,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,35}}</string>
                <key>sourceSize</key>
                <string>{406,35}</string>
            </dict>
            <key>game_common_slider_drag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,835},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>game_common_slider_drag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,438},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>game_common_slider_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,231},{406,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,35}}</string>
                <key>sourceSize</key>
                <string>{406,35}</string>
            </dict>
            <key>game_common_tab_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,769},{222,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,63}}</string>
                <key>sourceSize</key>
                <string>{222,63}</string>
            </dict>
            <key>game_common_tab_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,771},{222,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,69}}</string>
                <key>sourceSize</key>
                <string>{222,69}</string>
            </dict>
            <key>game_common_tablecloth_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,625},{257,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,59}}</string>
                <key>sourceSize</key>
                <string>{257,59}</string>
            </dict>
            <key>game_common_tablecloth_custom.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,386},{189,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,77}}</string>
                <key>sourceSize</key>
                <string>{189,77}</string>
            </dict>
            <key>guild_rank_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,761},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>hall_btn_click_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,235},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>hall_btn_identify.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,438},{104,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{104,31}</string>
            </dict>
            <key>hall_btn_no_click_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,185},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>hall_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,285},{110,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,47}}</string>
                <key>sourceSize</key>
                <string>{110,47}</string>
            </dict>
            <key>hall_button_best_lucky_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,295},{253,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,70}}</string>
                <key>sourceSize</key>
                <string>{253,70}</string>
            </dict>
            <key>hall_button_best_lucky_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,146},{253,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,70}}</string>
                <key>sourceSize</key>
                <string>{253,70}</string>
            </dict>
            <key>hall_button_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,899},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>hall_button_day_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,686},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>hall_button_free_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,614},{121,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,51}}</string>
                <key>sourceSize</key>
                <string>{121,51}</string>
            </dict>
            <key>hall_button_guild_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,74},{253,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,70}}</string>
                <key>sourceSize</key>
                <string>{253,70}</string>
            </dict>
            <key>hall_button_guild_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{253,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,70}}</string>
                <key>sourceSize</key>
                <string>{253,70}</string>
            </dict>
            <key>hall_button_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,921},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>hall_button_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,728},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>hall_button_rank_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,218},{75,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,255}}</string>
                <key>sourceSize</key>
                <string>{75,255}</string>
            </dict>
            <key>hall_button_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,813},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>hall_button_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,728},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>hall_button_victory_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,736},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>hall_checkbox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,916},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>hall_checkout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,851},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>hall_comment_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,231},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>hall_common_button_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,508},{278,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,84}}</string>
                <key>sourceSize</key>
                <string>{278,84}</string>
            </dict>
            <key>hall_common_button_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,422},{278,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,84}}</string>
                <key>sourceSize</key>
                <string>{278,84}</string>
            </dict>
            <key>hall_create_room_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,514},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>hall_create_room_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,101},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>hall_gps_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,766},{256,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,63}}</string>
                <key>sourceSize</key>
                <string>{256,63}</string>
            </dict>
            <key>hall_gps_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,766},{256,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,63}}</string>
                <key>sourceSize</key>
                <string>{256,63}</string>
            </dict>
            <key>hall_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,835},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>hall_head_frame_pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,736},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>hall_input_box_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,856},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>hall_lucky_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,185},{369,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,2}}</string>
                <key>sourceSize</key>
                <string>{369,2}</string>
            </dict>
            <key>hall_lucky_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,686},{83,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,40}}</string>
                <key>sourceSize</key>
                <string>{83,40}</string>
            </dict>
            <key>hall_marquee_scale9_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,389},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>hall_marquee_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,995},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>hall_my_rank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,822},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,31}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>hall_my_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,682},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>hall_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,933},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>hall_notice_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,35}}</string>
                <key>sourceSize</key>
                <string>{1020,35}</string>
            </dict>
            <key>hall_notice_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,464},{234,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,95}}</string>
                <key>sourceSize</key>
                <string>{234,95}</string>
            </dict>
            <key>hall_notice_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,367},{234,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,95}}</string>
                <key>sourceSize</key>
                <string>{234,95}</string>
            </dict>
            <key>hall_notice_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,933},{74,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,89}}</string>
                <key>sourceSize</key>
                <string>{74,89}</string>
            </dict>
            <key>hall_notice_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,514},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>hall_notice_scale9_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,367},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>hall_private_policy.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,413},{134,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,28}}</string>
                <key>sourceSize</key>
                <string>{134,28}</string>
            </dict>
            <key>hall_rank_item_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,139},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>hall_rank_item_others.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,667},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>hall_rank_item_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,334},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>hall_rank_lucky_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,379},{284,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,41}}</string>
                <key>sourceSize</key>
                <string>{284,41}</string>
            </dict>
            <key>hall_rank_lucky_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,101},{519,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,82}}</string>
                <key>sourceSize</key>
                <string>{519,82}</string>
            </dict>
            <key>hall_rank_lucky_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{97,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,560}}</string>
                <key>sourceSize</key>
                <string>{97,560}</string>
            </dict>
            <key>hall_rank_lucky_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,185},{438,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,44}}</string>
                <key>sourceSize</key>
                <string>{438,44}</string>
            </dict>
            <key>hall_room_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,561},{263,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,62}}</string>
                <key>sourceSize</key>
                <string>{263,62}</string>
            </dict>
            <key>hall_server_terms.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,993},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>hall_switch_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,275},{136,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,28}}</string>
                <key>sourceSize</key>
                <string>{136,28}</string>
            </dict>
            <key>hall_vip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,771},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_hall.png</string>
            <key>size</key>
            <string>{856,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58e549fe70ce70c673afb57435497217:8db8b722ffea9137d77278987a4c49cb:e7ebc49bded31f3e4a590f3e3fec7cfc$</string>
            <key>textureFileName</key>
            <string>new_hall.png</string>
        </dict>
    </dict>
</plist>
