<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_common_chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,549}}</string>
                <key>sourceSize</key>
                <string>{1000,549}</string>
            </dict>
            <key>game_common_chat_scale9.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,553},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>game_common_chat_sel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,553},{558,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,49}}</string>
                <key>sourceSize</key>
                <string>{558,49}</string>
            </dict>
            <key>game_common_chat_send_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>game_common_chat_unchecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,604},{556,3}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,45},{556,3}}</string>
                <key>sourceSize</key>
                <string>{558,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{1004,615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3182bf2ab50c91724d29cdd00731dc0:2b57449d807cc07143472ba9da2ae970:560f0423db1a1e46e68995a55a406f35$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
