<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_block_he_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,405}}</string>
                <key>sourceSize</key>
                <string>{404,405}</string>
            </dict>
            <key>anim_block_he_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{304,305}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,50},{304,305}}</string>
                <key>sourceSize</key>
                <string>{404,405}</string>
            </dict>
            <key>anim_block_he_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,273},{230,231}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,88},{230,231}}</string>
                <key>sourceSize</key>
                <string>{404,405}</string>
            </dict>
            <key>anim_block_he_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{248,269}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{248,269}}</string>
                <key>sourceSize</key>
                <string>{404,405}</string>
            </dict>
            <key>anim_block_he_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,309},{128,127}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,140},{128,127}}</string>
                <key>sourceSize</key>
                <string>{404,405}</string>
            </dict>
            <key>anim_block_he_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,309},{252,217}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,90},{252,217}}</string>
                <key>sourceSize</key>
                <string>{404,405}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_block_he.png</string>
            <key>size</key>
            <string>{1023,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d12cf8756b645f4444aeb4a4c3944053:182ae753402f234539e74adc4794ed8e:fa896a1bb2758ed62d76f1dd08cbae88$</string>
            <key>textureFileName</key>
            <string>anim_block_he.png</string>
        </dict>
    </dict>
</plist>
