<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_block_win_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{399,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,390}}</string>
                <key>sourceSize</key>
                <string>{399,390}</string>
            </dict>
            <key>anim_block_win_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{289,284}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,53},{289,284}}</string>
                <key>sourceSize</key>
                <string>{399,390}</string>
            </dict>
            <key>anim_block_win_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,239},{217,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,89},{217,212}}</string>
                <key>sourceSize</key>
                <string>{399,390}</string>
            </dict>
            <key>anim_block_win_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{235,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,69},{235,252}}</string>
                <key>sourceSize</key>
                <string>{399,390}</string>
            </dict>
            <key>anim_block_win_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,293},{127,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,131},{127,130}}</string>
                <key>sourceSize</key>
                <string>{399,390}</string>
            </dict>
            <key>anim_block_win_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,293},{219,182}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,104},{219,182}}</string>
                <key>sourceSize</key>
                <string>{399,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_block_win.png</string>
            <key>size</key>
            <string>{958,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad411311c026447666832d47932f79d6:745cb8f22c04f83196467d8c599ffbc6:b93679c027f862c36b3a2ba90384b065$</string>
            <key>textureFileName</key>
            <string>anim_block_win.png</string>
        </dict>
    </dict>
</plist>
