<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>countmoney_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,235},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,131},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,158},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,156},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,79},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,79},{75,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{75,131}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{75,135}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{75,135}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{75,135}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{75,135}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{75,135}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{75,135}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{75,131}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
            <key>countmoney_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{77,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{77,127}}</string>
                <key>sourceSize</key>
                <string>{111,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_5.png</string>
            <key>size</key>
            <string>{488,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7c1f63727ddb4121af428495d778cbb:1f842d5a571c0f01fb3a389a3e28deaa:17626e6f978fdcbf94484d8cd5fece47$</string>
            <key>textureFileName</key>
            <string>emoji_5.png</string>
        </dict>
    </dict>
</plist>
