<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>showoff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,366},{100,118}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,9},{100,118}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,252},{100,120}}</string>
                <key>offset</key>
                <string>{24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,7},{100,120}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,128},{100,124}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{100,124}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,124}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{100,124}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{100,124}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{100,124}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,128},{100,122}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{100,122}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,124},{100,120}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{100,120}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{102,118}}</string>
                <key>offset</key>
                <string>{-34,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,118}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,374},{100,118}}</string>
                <key>offset</key>
                <string>{-27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{100,118}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{102,120}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{102,120}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,124}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{100,124}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{100,124}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{100,124}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,124}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,4},{100,124}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,254},{100,122}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,6},{100,122}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,378},{100,120}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{100,120}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>showoff_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,246},{100,118}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,9},{100,118}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_3.png</string>
            <key>size</key>
            <string>{412,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c150d648e4a24f83d69872ccf56ec0d1:c84eed13b106972e00491cd4de5c121b:7e54c129f8dc7f8808d64049c1957d6a$</string>
            <key>textureFileName</key>
            <string>emoji_3.png</string>
        </dict>
    </dict>
</plist>
