<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pray_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,148}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{86,148}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,152},{84,146}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{84,146}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{82,146}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{82,146}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{84,146}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{84,146}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{86,144}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{86,144}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{86,144}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{86,144}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,90},{86,142}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{86,142}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,90},{86,142}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{86,142}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,320},{84,140}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,23},{84,140}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,178},{84,140}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{84,140}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,348},{84,138}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{84,138}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,178},{84,138}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{84,138}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,264},{82,136}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,27},{82,136}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,178},{84,136}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,27},{84,136}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,300},{84,134}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{84,134}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
            <key>pray_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{84,134}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{84,134}}</string>
                <key>sourceSize</key>
                <string>{102,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_9.png</string>
            <key>size</key>
            <string>{484,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8050267bc46161bbb7f14b003373ca63:077324cc4eaa64fb33db53de907c9f69:229ab92a2cdc5af625ed5c4e8ac438e2$</string>
            <key>textureFileName</key>
            <string>emoji_9.png</string>
        </dict>
    </dict>
</plist>
