<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_dyj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{125,149}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,21},{125,149}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
            <key>mahjong_anim_dyj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{117,169}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{117,169}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
            <key>mahjong_anim_dyj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{111,177}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,5},{111,177}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
            <key>mahjong_anim_dyj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,121},{125,171}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{125,171}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
            <key>mahjong_anim_dyj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,115},{161,121}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{161,121}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
            <key>mahjong_anim_dyj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,248},{161,153}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{161,153}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
            <key>mahjong_anim_dyj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{147,141}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{147,141}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
            <key>mahjong_anim_dyj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,248},{197,135}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{197,135}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
            <key>mahjong_anim_dyj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,69}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,69},{153,69}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_dyj.png</string>
            <key>size</key>
            <string>{507,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0bb21720bc46d5969b9919353534349:8bb606149fe4cc1936a99ccd9ba5c480:12a6856b5cc9855478bcdf8ce060bfb5$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_dyj.png</string>
        </dict>
    </dict>
</plist>
