<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_zzqd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,334},{152,130}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,57},{152,130}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>mahjong_anim_zzqd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{152,126}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,60},{152,126}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>mahjong_anim_zzqd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,354},{142,126}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,58},{142,126}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>mahjong_anim_zzqd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,320},{144,134}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,52},{144,134}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>mahjong_anim_zzqd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,166},{152,140}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,43},{152,140}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>mahjong_anim_zzqd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{142,150}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,36},{142,150}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>mahjong_anim_zzqd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,174},{146,158}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{146,158}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>mahjong_anim_zzqd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{216,178}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{216,178}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>mahjong_anim_zzqd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,170}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{254,170}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>mahjong_anim_zzqd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{182,162}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,22},{182,162}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_zzqd.png</string>
            <key>size</key>
            <string>{571,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62051697815fe90613b284aae33aff06:f5869b0c571f2b8dbfb8b773509f24cf:5a2e3837a7c516770214a346cce6aa3d$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_zzqd.png</string>
        </dict>
    </dict>
</plist>
