<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_jd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{186,152}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,41},{186,152}}</string>
                <key>sourceSize</key>
                <string>{228,216}</string>
            </dict>
            <key>mahjong_anim_jd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{196,194}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{196,194}}</string>
                <key>sourceSize</key>
                <string>{228,216}</string>
            </dict>
            <key>mahjong_anim_jd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{228,208}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,208}}</string>
                <key>sourceSize</key>
                <string>{228,216}</string>
            </dict>
            <key>mahjong_anim_jd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,216}}</string>
                <key>sourceSize</key>
                <string>{228,216}</string>
            </dict>
            <key>mahjong_anim_jd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{228,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,214}}</string>
                <key>sourceSize</key>
                <string>{228,216}</string>
            </dict>
            <key>mahjong_anim_jd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,190},{112,64}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,82},{112,64}}</string>
                <key>sourceSize</key>
                <string>{228,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_jd.png</string>
            <key>size</key>
            <string>{996,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13e5f3da9ff310c8f07daad3d37da79e:6da86f3378119e90b7f537c1ea3f5e68:0d82d5ca92135dd5d0997d3dcd8bcd1b$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_jd.png</string>
        </dict>
    </dict>
</plist>
