<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_qzzqd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,284},{148,193}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,2},{148,193}}</string>
                <key>sourceSize</key>
                <string>{290,209}</string>
            </dict>
            <key>mahjong_anim_qzzqd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,250},{162,209}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{162,209}}</string>
                <key>sourceSize</key>
                <string>{290,209}</string>
            </dict>
            <key>mahjong_anim_qzzqd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{182,203}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,6},{182,203}}</string>
                <key>sourceSize</key>
                <string>{290,209}</string>
            </dict>
            <key>mahjong_anim_qzzqd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{266,207}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{266,207}}</string>
                <key>sourceSize</key>
                <string>{290,209}</string>
            </dict>
            <key>mahjong_anim_qzzqd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,191}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{280,191}}</string>
                <key>sourceSize</key>
                <string>{290,209}</string>
            </dict>
            <key>mahjong_anim_qzzqd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{246,171}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{246,171}}</string>
                <key>sourceSize</key>
                <string>{290,209}</string>
            </dict>
            <key>mahjong_anim_qzzqd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,270},{218,169}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,13},{218,169}}</string>
                <key>sourceSize</key>
                <string>{290,209}</string>
            </dict>
            <key>mahjong_anim_qzzqd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{218,63}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,119},{218,63}}</string>
                <key>sourceSize</key>
                <string>{290,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_qzzqd.png</string>
            <key>size</key>
            <string>{693,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f019eea25bdaf9e4db1bde13f53f819:4e11dcd47ab50beddb0ed27449ab1800:d54b560c7dd1108850d5f65a479ad53b$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_qzzqd.png</string>
        </dict>
    </dict>
</plist>
