<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_qgh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,207},{227,175}}</string>
                <key>offset</key>
                <string>{-46,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{227,175}}</string>
                <key>sourceSize</key>
                <string>{319,253}</string>
            </dict>
            <key>mahjong_anim_qgh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{203,227}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{203,227}}</string>
                <key>sourceSize</key>
                <string>{319,253}</string>
            </dict>
            <key>mahjong_anim_qgh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,547},{157,211}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,15},{157,211}}</string>
                <key>sourceSize</key>
                <string>{319,253}</string>
            </dict>
            <key>mahjong_anim_qgh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{261,195}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,41},{261,195}}</string>
                <key>sourceSize</key>
                <string>{319,253}</string>
            </dict>
            <key>mahjong_anim_qgh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,191}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{273,191}}</string>
                <key>sourceSize</key>
                <string>{319,253}</string>
            </dict>
            <key>mahjong_anim_qgh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{245,205}}</string>
                <key>offset</key>
                <string>{26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,46},{245,205}}</string>
                <key>sourceSize</key>
                <string>{319,253}</string>
            </dict>
            <key>mahjong_anim_qgh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,384},{217,161}}</string>
                <key>offset</key>
                <string>{22,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,78},{217,161}}</string>
                <key>sourceSize</key>
                <string>{319,253}</string>
            </dict>
            <key>mahjong_anim_qgh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{199,75}}</string>
                <key>offset</key>
                <string>{18,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,131},{199,75}}</string>
                <key>sourceSize</key>
                <string>{319,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_qgh.png</string>
            <key>size</key>
            <string>{506,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79e993c15a895c34c5fc9c7360e16e61:04b7be07b0d16bc900c518b788b1e539:f44690a929131d487d072879b88ed57e$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_qgh.png</string>
        </dict>
    </dict>
</plist>
