<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_ddd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{131,157}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,65},{131,157}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
            <key>mahjong_anim_ddd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{167,173}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{167,173}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
            <key>mahjong_anim_ddd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,161},{169,179}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,43},{169,179}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
            <key>mahjong_anim_ddd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{169,187}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,35},{169,187}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
            <key>mahjong_anim_ddd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,161},{167,191}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{167,191}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
            <key>mahjong_anim_ddd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{157,181}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{157,181}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
            <key>mahjong_anim_ddd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,332},{171,203}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{171,203}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
            <key>mahjong_anim_ddd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,332},{173,217}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{173,217}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
            <key>mahjong_anim_ddd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,79}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,82},{167,79}}</string>
                <key>sourceSize</key>
                <string>{213,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_ddd.png</string>
            <key>size</key>
            <string>{615,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e479cd51445b3a727b14c820d03eb1aa:d78a7f1118f1e16bec1dcfbf0729820a:55bf8bc6cdc05a60cf54c6fd0793b106$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_ddd.png</string>
        </dict>
    </dict>
</plist>
