<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_record_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,194}}</string>
                <key>sourceSize</key>
                <string>{1020,194}</string>
            </dict>
            <key>hall_record_profile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{891,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{891,33}}</string>
                <key>sourceSize</key>
                <string>{891,33}</string>
            </dict>
            <key>hall_record_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,233},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>hall_record_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,233},{147,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,53}}</string>
                <key>sourceSize</key>
                <string>{147,53}</string>
            </dict>
            <key>hall_record_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,233},{147,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,53}}</string>
                <key>sourceSize</key>
                <string>{147,53}</string>
            </dict>
            <key>hall_record_small_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,233},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>hall_record_user_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{172,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,39}}</string>
                <key>sourceSize</key>
                <string>{172,39}</string>
            </dict>
            <key>hall_record_watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,233},{147,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,53}}</string>
                <key>sourceSize</key>
                <string>{147,53}</string>
            </dict>
            <key>hall_record_watch_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{147,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,53}}</string>
                <key>sourceSize</key>
                <string>{147,53}</string>
            </dict>
            <key>hall_record_win_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,198},{111,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,128}}</string>
                <key>sourceSize</key>
                <string>{111,128}</string>
            </dict>
            <key>hall_record_winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,233},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_record.png</string>
            <key>size</key>
            <string>{1024,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0577f208e6166330ee7a3f70db88b24b:9dc3ec658d9ea9d58c5e2f6b43d6da97:58520daf8b68d59689371bbdd694a185$</string>
            <key>textureFileName</key>
            <string>game_record.png</string>
        </dict>
    </dict>
</plist>
