<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_pph_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,332},{236,64}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{236,64}}</string>
                <key>sourceSize</key>
                <string>{288,208}</string>
            </dict>
            <key>mahjong_anim_pph_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,464},{180,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,73},{180,64}}</string>
                <key>sourceSize</key>
                <string>{288,208}</string>
            </dict>
            <key>mahjong_anim_pph_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,398},{196,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,73},{196,64}}</string>
                <key>sourceSize</key>
                <string>{288,208}</string>
            </dict>
            <key>mahjong_anim_pph_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,176}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{268,176}}</string>
                <key>sourceSize</key>
                <string>{288,208}</string>
            </dict>
            <key>mahjong_anim_pph_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,314},{228,104}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,52},{228,104}}</string>
                <key>sourceSize</key>
                <string>{288,208}</string>
            </dict>
            <key>mahjong_anim_pph_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{210,204}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,2},{210,204}}</string>
                <key>sourceSize</key>
                <string>{288,208}</string>
            </dict>
            <key>mahjong_anim_pph_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{204,126}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,43},{204,126}}</string>
                <key>sourceSize</key>
                <string>{288,208}</string>
            </dict>
            <key>mahjong_anim_pph_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{250,132}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{250,132}}</string>
                <key>sourceSize</key>
                <string>{288,208}</string>
            </dict>
            <key>mahjong_anim_pph_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,208},{252,122}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{252,122}}</string>
                <key>sourceSize</key>
                <string>{288,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_pph.png</string>
            <key>size</key>
            <string>{508,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffe6d8ef366b1fde94dc41e9218b07c1:75e2fbbbe9df33414f5266b6be221223:faf185e1089bd5c8c1d1962d6533f977$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_pph.png</string>
        </dict>
    </dict>
</plist>
