<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_qlqd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,462},{77,77}}</string>
                <key>offset</key>
                <string>{-11,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{335,291}</string>
            </dict>
            <key>mahjong_anim_qlqd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,279},{157,265}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{157,265}}</string>
                <key>sourceSize</key>
                <string>{335,291}</string>
            </dict>
            <key>mahjong_anim_qlqd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,588},{287,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{287,291}}</string>
                <key>sourceSize</key>
                <string>{335,291}</string>
            </dict>
            <key>mahjong_anim_qlqd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{301,283}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,283}}</string>
                <key>sourceSize</key>
                <string>{335,291}</string>
            </dict>
            <key>mahjong_anim_qlqd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,291}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{307,291}}</string>
                <key>sourceSize</key>
                <string>{335,291}</string>
            </dict>
            <key>mahjong_anim_qlqd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{297,291}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{297,291}}</string>
                <key>sourceSize</key>
                <string>{335,291}</string>
            </dict>
            <key>mahjong_anim_qlqd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{221,275}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{221,275}}</string>
                <key>sourceSize</key>
                <string>{335,291}</string>
            </dict>
            <key>mahjong_anim_qlqd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,279},{181,63}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,124},{181,63}}</string>
                <key>sourceSize</key>
                <string>{335,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_qlqd.png</string>
            <key>size</key>
            <string>{576,891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b8f53a59b54d9c73a2a13258d9cb26f:de69543e87045b5b67da6afefaddfadf:26a6848e5c357db810373bb8f028a111$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_qlqd.png</string>
        </dict>
    </dict>
</plist>
