<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_gskh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{86,31}}</string>
                <key>offset</key>
                <string>{-107,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{86,31}}</string>
                <key>sourceSize</key>
                <string>{456,155}</string>
            </dict>
            <key>mahjong_anim_gskh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{376,101}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,39},{376,101}}</string>
                <key>sourceSize</key>
                <string>{456,155}</string>
            </dict>
            <key>mahjong_anim_gskh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,412},{330,97}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{330,97}}</string>
                <key>sourceSize</key>
                <string>{456,155}</string>
            </dict>
            <key>mahjong_anim_gskh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{330,103}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,37},{330,103}}</string>
                <key>sourceSize</key>
                <string>{456,155}</string>
            </dict>
            <key>mahjong_anim_gskh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{408,109}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,31},{408,109}}</string>
                <key>sourceSize</key>
                <string>{456,155}</string>
            </dict>
            <key>mahjong_anim_gskh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{450,155}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{450,155}}</string>
                <key>sourceSize</key>
                <string>{456,155}</string>
            </dict>
            <key>mahjong_anim_gskh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,155}}</string>
                <key>sourceSize</key>
                <string>{456,155}</string>
            </dict>
            <key>mahjong_anim_gskh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{252,79}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,49},{252,79}}</string>
                <key>sourceSize</key>
                <string>{456,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_gskh.png</string>
            <key>size</key>
            <string>{716,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a528759982c63454af2e42c883c6e8:e710c0367210dc21da41b160086d4267:dbdf626269f50ead6482c4e44b904f99$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_gskh.png</string>
        </dict>
    </dict>
</plist>
