<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_qqd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,233},{188,153}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,54},{188,153}}</string>
                <key>sourceSize</key>
                <string>{274,229}</string>
            </dict>
            <key>mahjong_anim_qqd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,233},{184,193}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{184,193}}</string>
                <key>sourceSize</key>
                <string>{274,229}</string>
            </dict>
            <key>mahjong_anim_qqd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{262,223}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{262,223}}</string>
                <key>sourceSize</key>
                <string>{274,229}</string>
            </dict>
            <key>mahjong_anim_qqd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{256,229}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{256,229}}</string>
                <key>sourceSize</key>
                <string>{274,229}</string>
            </dict>
            <key>mahjong_anim_qqd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,229}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{260,229}}</string>
                <key>sourceSize</key>
                <string>{274,229}</string>
            </dict>
            <key>mahjong_anim_qqd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,428},{160,67}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,93},{160,67}}</string>
                <key>sourceSize</key>
                <string>{274,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_qqd.png</string>
            <key>size</key>
            <string>{568,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fce90fdd4d20b88300a7eaa38e580a1:b57f2665df89a50ab9a66ce0ec494b3f:3e9faa8cd14d25d9a90da0e0147080f1$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_qqd.png</string>
        </dict>
    </dict>
</plist>
