<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_ypdx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,69}}</string>
                <key>offset</key>
                <string>{-88,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{75,69}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{229,77}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{229,77}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,156},{233,77}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{233,77}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{251,81}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{251,81}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{249,81}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{249,81}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,235},{253,81}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{253,81}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{247,79}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{247,79}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,235},{247,81}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{247,81}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{247,75}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{247,75}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,79},{227,75}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{227,75}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>mahjong_anim_ypdx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{227,75}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{227,75}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_ypdx.png</string>
            <key>size</key>
            <string>{468,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebeb4a8fc2d2c88756360cace14f1dc4:decba9353304c5980fc1daeeba7010bb:1560bddb40b992c31b121ab28194cd6b$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_ypdx.png</string>
        </dict>
    </dict>
</plist>
