<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_gsp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,115},{97,97}}</string>
                <key>offset</key>
                <string>{-52,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{97,97}}</string>
                <key>sourceSize</key>
                <string>{279,127}</string>
            </dict>
            <key>mahjong_anim_gsp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{129,111}}</string>
                <key>offset</key>
                <string>{-65,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{129,111}}</string>
                <key>sourceSize</key>
                <string>{279,127}</string>
            </dict>
            <key>mahjong_anim_gsp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{217,99}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{217,99}}</string>
                <key>sourceSize</key>
                <string>{279,127}</string>
            </dict>
            <key>mahjong_anim_gsp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,119}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{255,119}}</string>
                <key>sourceSize</key>
                <string>{279,127}</string>
            </dict>
            <key>mahjong_anim_gsp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{265,89}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{265,89}}</string>
                <key>sourceSize</key>
                <string>{279,127}</string>
            </dict>
            <key>mahjong_anim_gsp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,170},{259,81}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{259,81}}</string>
                <key>sourceSize</key>
                <string>{279,127}</string>
            </dict>
            <key>mahjong_anim_gsp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,103},{195,65}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{195,65}}</string>
                <key>sourceSize</key>
                <string>{279,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_gsp.png</string>
            <key>size</key>
            <string>{629,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6714df662f21fdcecedffd888afe709:3ff6f99a2e7d0f713582b42352cf3ff9:41ce1f46b4f78e99ef778a13550b13e1$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_gsp.png</string>
        </dict>
    </dict>
</plist>
