<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_ypsx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{222,94}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{222,94}}</string>
                <key>sourceSize</key>
                <string>{308,136}</string>
            </dict>
            <key>mahjong_anim_ypsx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,276},{214,102}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,10},{214,102}}</string>
                <key>sourceSize</key>
                <string>{308,136}</string>
            </dict>
            <key>mahjong_anim_ypsx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,110},{228,100}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,12},{228,100}}</string>
                <key>sourceSize</key>
                <string>{308,136}</string>
            </dict>
            <key>mahjong_anim_ypsx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{284,106}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{284,106}}</string>
                <key>sourceSize</key>
                <string>{308,136}</string>
            </dict>
            <key>mahjong_anim_ypsx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,108}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{286,108}}</string>
                <key>sourceSize</key>
                <string>{308,136}</string>
            </dict>
            <key>mahjong_anim_ypsx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{250,104}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{250,104}}</string>
                <key>sourceSize</key>
                <string>{308,136}</string>
            </dict>
            <key>mahjong_anim_ypsx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,212},{212,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,33},{212,62}}</string>
                <key>sourceSize</key>
                <string>{308,136}</string>
            </dict>
            <key>mahjong_anim_ypsx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,110},{228,60}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{228,60}}</string>
                <key>sourceSize</key>
                <string>{308,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_ypsx.png</string>
            <key>size</key>
            <string>{512,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5dedf4e87b30471a878602f55a26f0d:db341a36b69128f0a973999cba9bce61:d2dc2f18f04843756f8af1c703c042e2$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_ypsx.png</string>
        </dict>
    </dict>
</plist>
