<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_jddd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,406},{211,111}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,63},{211,111}}</string>
                <key>sourceSize</key>
                <string>{237,183}</string>
            </dict>
            <key>mahjong_anim_jddd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{225,161}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{225,161}}</string>
                <key>sourceSize</key>
                <string>{237,183}</string>
            </dict>
            <key>mahjong_anim_jddd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{209,177}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{209,177}}</string>
                <key>sourceSize</key>
                <string>{237,183}</string>
            </dict>
            <key>mahjong_anim_jddd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,181}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{215,181}}</string>
                <key>sourceSize</key>
                <string>{237,183}</string>
            </dict>
            <key>mahjong_anim_jddd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{213,161}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{213,161}}</string>
                <key>sourceSize</key>
                <string>{237,183}</string>
            </dict>
            <key>mahjong_anim_jddd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,185},{219,155}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{219,155}}</string>
                <key>sourceSize</key>
                <string>{237,183}</string>
            </dict>
            <key>mahjong_anim_jddd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,390},{209,149}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{209,149}}</string>
                <key>sourceSize</key>
                <string>{237,183}</string>
            </dict>
            <key>mahjong_anim_jddd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,181},{207,155}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{207,155}}</string>
                <key>sourceSize</key>
                <string>{237,183}</string>
            </dict>
            <key>mahjong_anim_jddd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{177,65}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,59},{177,65}}</string>
                <key>sourceSize</key>
                <string>{237,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_jddd.png</string>
            <key>size</key>
            <string>{497,619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d2c64349b3f63c0e5a28352c6973991:85273bc63ae67f4722f5e0eb6667bd90:909c720970d725d4820027c1a745ab1d$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_jddd.png</string>
        </dict>
    </dict>
</plist>
