<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_lqd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,589},{228,81}}</string>
                <key>offset</key>
                <string>{-129,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,98},{228,81}}</string>
                <key>sourceSize</key>
                <string>{504,275}</string>
            </dict>
            <key>mahjong_anim_lqd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,171}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,51},{490,171}}</string>
                <key>sourceSize</key>
                <string>{504,275}</string>
            </dict>
            <key>mahjong_anim_lqd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{470,223}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{470,223}}</string>
                <key>sourceSize</key>
                <string>{504,275}</string>
            </dict>
            <key>mahjong_anim_lqd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,400},{258,187}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,44},{258,187}}</string>
                <key>sourceSize</key>
                <string>{504,275}</string>
            </dict>
            <key>mahjong_anim_lqd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{272,269}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,4},{272,269}}</string>
                <key>sourceSize</key>
                <string>{504,275}</string>
            </dict>
            <key>mahjong_anim_lqd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{270,275}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,0},{270,275}}</string>
                <key>sourceSize</key>
                <string>{504,275}</string>
            </dict>
            <key>mahjong_anim_lqd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,672},{196,271}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,0},{196,271}}</string>
                <key>sourceSize</key>
                <string>{504,275}</string>
            </dict>
            <key>mahjong_anim_lqd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,870},{168,135}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,71},{168,135}}</string>
                <key>sourceSize</key>
                <string>{504,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_lqd.png</string>
            <key>size</key>
            <string>{546,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35a98386ae3157c1b4e3acbe77f7e2b7:5345ac20c60ae3741f9e65e55d89017e:0fb53c67ee5156de4133c613b93da276$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_lqd.png</string>
        </dict>
    </dict>
</plist>
