<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_qp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,240},{125,102}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,60},{125,102}}</string>
                <key>sourceSize</key>
                <string>{265,238}</string>
            </dict>
            <key>mahjong_anim_qp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{117,98}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,69},{117,98}}</string>
                <key>sourceSize</key>
                <string>{265,238}</string>
            </dict>
            <key>mahjong_anim_qp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,121},{109,98}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,62},{109,98}}</string>
                <key>sourceSize</key>
                <string>{265,238}</string>
            </dict>
            <key>mahjong_anim_qp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,232},{83,82}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,74},{83,82}}</string>
                <key>sourceSize</key>
                <string>{265,238}</string>
            </dict>
            <key>mahjong_anim_qp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{155,148}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,39},{155,148}}</string>
                <key>sourceSize</key>
                <string>{265,238}</string>
            </dict>
            <key>mahjong_anim_qp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{257,236}}</string>
                <key>sourceSize</key>
                <string>{265,238}</string>
            </dict>
            <key>mahjong_anim_qp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,367},{151,104}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,80},{151,104}}</string>
                <key>sourceSize</key>
                <string>{265,238}</string>
            </dict>
            <key>mahjong_anim_qp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{191,108}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,81},{191,108}}</string>
                <key>sourceSize</key>
                <string>{265,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_qp.png</string>
            <key>size</key>
            <string>{361,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0443aa66223a597fcb25bea520ef75a:770880c7af94eea0a98f4a5bab8a5a7b:c50ca839c28e74b070f96ee74c64448a$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_qp.png</string>
        </dict>
    </dict>
</plist>
