<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_slqd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,362},{100,74}}</string>
                <key>offset</key>
                <string>{83,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,25},{100,74}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>mahjong_anim_slqd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,202},{276,118}}</string>
                <key>offset</key>
                <string>{-8,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{276,118}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>mahjong_anim_slqd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{246,220}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,1},{246,220}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>mahjong_anim_slqd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,224},{216,226}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{216,226}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>mahjong_anim_slqd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{288,198}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,87},{288,198}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>mahjong_anim_slqd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,190}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,98},{324,190}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>mahjong_anim_slqd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,322},{324,152}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,123},{324,152}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>mahjong_anim_slqd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{324,166}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,111},{324,166}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
            <key>mahjong_anim_slqd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{208,60}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,133},{208,60}}</string>
                <key>sourceSize</key>
                <string>{326,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_slqd.png</string>
            <key>size</key>
            <string>{872,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3293add89bc15632aeb14061ddeb7a07:8932af5a4e725f3d54e2e21e9d26b68e:fe8b8f7be3ab0eb933ebe646417ebd7e$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_slqd.png</string>
        </dict>
    </dict>
</plist>
