<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_anim_qddd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,521},{123,141}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,42},{123,141}}</string>
                <key>sourceSize</key>
                <string>{237,227}</string>
            </dict>
            <key>mahjong_anim_qddd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{237,195}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{237,195}}</string>
                <key>sourceSize</key>
                <string>{237,227}</string>
            </dict>
            <key>mahjong_anim_qddd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{237,193}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{237,193}}</string>
                <key>sourceSize</key>
                <string>{237,227}</string>
            </dict>
            <key>mahjong_anim_qddd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,199},{237,181}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{237,181}}</string>
                <key>sourceSize</key>
                <string>{237,227}</string>
            </dict>
            <key>mahjong_anim_qddd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{237,211}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{237,211}}</string>
                <key>sourceSize</key>
                <string>{237,227}</string>
            </dict>
            <key>mahjong_anim_qddd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,223}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{237,223}}</string>
                <key>sourceSize</key>
                <string>{237,227}</string>
            </dict>
            <key>mahjong_anim_qddd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,382},{167,137}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,45},{167,137}}</string>
                <key>sourceSize</key>
                <string>{237,227}</string>
            </dict>
            <key>mahjong_anim_qddd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,382},{167,63}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,91},{167,63}}</string>
                <key>sourceSize</key>
                <string>{237,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_mahjong_win_qddd.png</string>
            <key>size</key>
            <string>{481,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3296d9e5053b1616eb74e6cd98a537cc:5cc5e0d68b04a14396b3594cadb372eb:c6717448942184422092f2527388bac9$</string>
            <key>textureFileName</key>
            <string>anim_mahjong_win_qddd.png</string>
        </dict>
    </dict>
</plist>
