<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,849},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,851},{43,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,37}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>desc_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1003,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1003,56}}</string>
                <key>sourceSize</key>
                <string>{1003,56}</string>
            </dict>
            <key>location_facing.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,962},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>location_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,849},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>location_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,433},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>location_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,551},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>look_over_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,890},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,518},{331,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,59}}</string>
                <key>sourceSize</key>
                <string>{331,59}</string>
            </dict>
            <key>lose_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{429,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,93}}</string>
                <key>sourceSize</key>
                <string>{429,93}</string>
            </dict>
            <key>lose_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{553,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,40}}</string>
                <key>sourceSize</key>
                <string>{553,40}</string>
            </dict>
            <key>lose_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{514,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,40}}</string>
                <key>sourceSize</key>
                <string>{514,40}</string>
            </dict>
            <key>lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{68,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,547}}</string>
                <key>sourceSize</key>
                <string>{68,547}</string>
            </dict>
            <key>lose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,532},{69,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,157}}</string>
                <key>sourceSize</key>
                <string>{69,157}</string>
            </dict>
            <key>lose_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,884},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>lose_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{721,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,97}}</string>
                <key>sourceSize</key>
                <string>{721,97}</string>
            </dict>
            <key>lose_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,433},{155,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,97}}</string>
                <key>sourceSize</key>
                <string>{155,97}</string>
            </dict>
            <key>lose_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,532},{72,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,289}}</string>
                <key>sourceSize</key>
                <string>{72,289}</string>
            </dict>
            <key>lose_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,890},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>lose_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,770},{138,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>sourceSize</key>
                <string>{138,77}</string>
            </dict>
            <key>settle_round_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,725},{288,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,257}}</string>
                <key>sourceSize</key>
                <string>{288,257}</string>
            </dict>
            <key>settle_round_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,901},{83,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,557},{331,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,59}}</string>
                <key>sourceSize</key>
                <string>{331,59}</string>
            </dict>
            <key>win_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{429,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,99}}</string>
                <key>sourceSize</key>
                <string>{429,99}</string>
            </dict>
            <key>win_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{553,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,40}}</string>
                <key>sourceSize</key>
                <string>{553,40}</string>
            </dict>
            <key>win_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{514,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,40}}</string>
                <key>sourceSize</key>
                <string>{514,40}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{68,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,547}}</string>
                <key>sourceSize</key>
                <string>{68,547}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,532},{69,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,157}}</string>
                <key>sourceSize</key>
                <string>{69,157}</string>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,823},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{721,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,97}}</string>
                <key>sourceSize</key>
                <string>{721,97}</string>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,551},{155,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,97}}</string>
                <key>sourceSize</key>
                <string>{155,97}</string>
            </dict>
            <key>win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,708},{72,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,289}}</string>
                <key>sourceSize</key>
                <string>{72,289}</string>
            </dict>
            <key>win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,647},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,691},{138,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>sourceSize</key>
                <string>{138,77}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,557},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settle_round.png</string>
            <key>size</key>
            <string>{762,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e4213d8e20a097151566507004332c9:d583c5a246459860bdd07950e1a8eb82:b24657e5720ca27ca7387643a5703ed1$</string>
            <key>textureFileName</key>
            <string>settle_round.png</string>
        </dict>
    </dict>
</plist>
