<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,922},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,342},{43,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,37}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>desc_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1003,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1003,56}}</string>
                <key>sourceSize</key>
                <string>{1003,56}</string>
            </dict>
            <key>location_facing.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,936},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>location_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,952},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>location_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,942},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>location_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,942},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>look_over_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,802},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,637},{331,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,59}}</string>
                <key>sourceSize</key>
                <string>{331,59}</string>
            </dict>
            <key>lose_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,786},{429,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,93}}</string>
                <key>sourceSize</key>
                <string>{429,93}</string>
            </dict>
            <key>lose_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,300},{553,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,40}}</string>
                <key>sourceSize</key>
                <string>{553,40}</string>
            </dict>
            <key>lose_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,384},{514,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,40}}</string>
                <key>sourceSize</key>
                <string>{514,40}</string>
            </dict>
            <key>lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,258},{68,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,547}}</string>
                <key>sourceSize</key>
                <string>{68,547}</string>
            </dict>
            <key>lose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,865},{69,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,157}}</string>
                <key>sourceSize</key>
                <string>{69,157}</string>
            </dict>
            <key>lose_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,922},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>lose_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{721,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,97}}</string>
                <key>sourceSize</key>
                <string>{721,97}</string>
            </dict>
            <key>lose_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,637},{155,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,97}}</string>
                <key>sourceSize</key>
                <string>{155,97}</string>
            </dict>
            <key>lose_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,563},{72,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,289}}</string>
                <key>sourceSize</key>
                <string>{72,289}</string>
            </dict>
            <key>lose_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,963},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>lose_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{138,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>sourceSize</key>
                <string>{138,77}</string>
            </dict>
            <key>round_settle_jiangma_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,604},{148,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,79}}</string>
                <key>sourceSize</key>
                <string>{148,79}</string>
            </dict>
            <key>round_settle_jiangma_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,901},{141,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,82}}</string>
                <key>sourceSize</key>
                <string>{141,82}</string>
            </dict>
            <key>round_settle_user_bg_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,426},{288,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,257}}</string>
                <key>sourceSize</key>
                <string>{288,257}</string>
            </dict>
            <key>round_settle_user_bg_winer.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,60},{288,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,257}}</string>
                <key>sourceSize</key>
                <string>{288,257}</string>
            </dict>
            <key>round_settle_yimaquanzhong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,426},{286,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,87}}</string>
                <key>sourceSize</key>
                <string>{286,87}</string>
            </dict>
            <key>round_settle_yimaquanzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,515},{285,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,87}}</string>
                <key>sourceSize</key>
                <string>{285,87}</string>
            </dict>
            <key>round_settle_yizhangdingma_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,319},{290,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,81}}</string>
                <key>sourceSize</key>
                <string>{290,81}</string>
            </dict>
            <key>round_settle_yizhangdingma_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,402},{284,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,85}}</string>
                <key>sourceSize</key>
                <string>{284,85}</string>
            </dict>
            <key>round_settle_yupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{259,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,32}}</string>
                <key>sourceSize</key>
                <string>{259,32}</string>
            </dict>
            <key>round_settle_zhongmashu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,698},{255,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,50}}</string>
                <key>sourceSize</key>
                <string>{255,50}</string>
            </dict>
            <key>round_settle_zhongmashu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,750},{235,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,50}}</string>
                <key>sourceSize</key>
                <string>{235,50}</string>
            </dict>
            <key>settle_round_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,698},{83,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,881},{331,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,59}}</string>
                <key>sourceSize</key>
                <string>{331,59}</string>
            </dict>
            <key>win_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,685},{429,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,99}}</string>
                <key>sourceSize</key>
                <string>{429,99}</string>
            </dict>
            <key>win_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,258},{553,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,40}}</string>
                <key>sourceSize</key>
                <string>{553,40}</string>
            </dict>
            <key>win_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,342},{514,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,40}}</string>
                <key>sourceSize</key>
                <string>{514,40}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{68,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,547}}</string>
                <key>sourceSize</key>
                <string>{68,547}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,794},{69,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,157}}</string>
                <key>sourceSize</key>
                <string>{69,157}</string>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,881},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{721,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,97}}</string>
                <key>sourceSize</key>
                <string>{721,97}</string>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,802},{155,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,97}}</string>
                <key>sourceSize</key>
                <string>{155,97}</string>
            </dict>
            <key>win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,489},{72,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,289}}</string>
                <key>sourceSize</key>
                <string>{72,289}</string>
            </dict>
            <key>win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,604},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{138,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>sourceSize</key>
                <string>{138,77}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,258},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settle_round_o.png</string>
            <key>size</key>
            <string>{1015,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18da4d17972e47ec199cd3010b53f3e8:c8610d0b98f97332b574dea8ce2d67ee:864eaf13c5643f0443fc59ad6dbbb379$</string>
            <key>textureFileName</key>
            <string>settle_round_o.png</string>
        </dict>
    </dict>
</plist>
