<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall_++++.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,496},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>mall_100yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>mall_10yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,148},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>mall_20yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,80},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>mall_50yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,450},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>mall_card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,367},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>mall_card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,227},{139,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,103}}</string>
                <key>sourceSize</key>
                <string>{139,103}</string>
            </dict>
            <key>mall_chaozhi_yueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,444}}</string>
                <key>sourceSize</key>
                <string>{350,444}</string>
            </dict>
            <key>mall_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{227,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,223}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>mall_item_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,227},{138,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,48}}</string>
                <key>sourceSize</key>
                <string>{138,48}</string>
            </dict>
            <key>mall_left_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,227},{267,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,75}}</string>
                <key>sourceSize</key>
                <string>{267,75}</string>
            </dict>
            <key>mall_left_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,448},{267,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,75}}</string>
                <key>sourceSize</key>
                <string>{267,75}</string>
            </dict>
            <key>mall_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{322,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,100}}</string>
                <key>sourceSize</key>
                <string>{322,100}</string>
            </dict>
            <key>mall_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,450},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>mall_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,332},{118,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,116}}</string>
                <key>sourceSize</key>
                <string>{118,116}</string>
            </dict>
            <key>mall_vip_yueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,444}}</string>
                <key>sourceSize</key>
                <string>{350,444}</string>
            </dict>
            <key>mall_yueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,448},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_mall.png</string>
            <key>size</key>
            <string>{974,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bebe1b2345fd221d9bd4d0a8e2ba81ab:4bf7456b17518371b41301121f1beeca:62c2cd622de4efe5ffcece6c094ef67d$</string>
            <key>textureFileName</key>
            <string>new_mall.png</string>
        </dict>
    </dict>
</plist>
