<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_free_get_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,370},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,38}}</string>
                <key>sourceSize</key>
                <string>{116,38}</string>
            </dict>
            <key>btn_free_get_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,38}}</string>
                <key>sourceSize</key>
                <string>{116,38}</string>
            </dict>
            <key>img_free_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,247},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
            <key>img_free_invite_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{276,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,72}}</string>
                <key>sourceSize</key>
                <string>{276,72}</string>
            </dict>
            <key>img_free_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{232,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,38}}</string>
                <key>sourceSize</key>
                <string>{232,38}</string>
            </dict>
            <key>img_free_user_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,129}}</string>
                <key>sourceSize</key>
                <string>{276,129}</string>
            </dict>
            <key>template_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,130},{220,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>template_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,370},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>template_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,370},{121,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>template_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{138,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,17}}</string>
                <key>sourceSize</key>
                <string>{138,17}</string>
            </dict>
            <key>template_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{224,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,126}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>template_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,207},{128,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,161}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>free_card.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb903d019b697c7bd23af48d8e5bef61:f2a9d7461b25c88475ccf1e205b3bed9:7c37ef2dd0e2cfdc043ff58429303939$</string>
            <key>textureFileName</key>
            <string>free_card.png</string>
        </dict>
    </dict>
</plist>
