<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banker_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>btn_cancel_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,747},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,545},{152,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,69}}</string>
                <key>sourceSize</key>
                <string>{152,69}</string>
            </dict>
            <key>btn_leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,853},{116,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,54}}</string>
                <key>sourceSize</key>
                <string>{116,54}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,852},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>click_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,230},{108,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,25}}</string>
                <key>sourceSize</key>
                <string>{108,25}</string>
            </dict>
            <key>desk_user_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,545},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>desk_user_id_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,149},{79,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,22}}</string>
                <key>sourceSize</key>
                <string>{79,22}</string>
            </dict>
            <key>desk_user_progress_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,400},{104,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,143}}</string>
                <key>sourceSize</key>
                <string>{104,143}</string>
            </dict>
            <key>desk_user_progress_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,766},{104,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,143}}</string>
                <key>sourceSize</key>
                <string>{104,143}</string>
            </dict>
            <key>dissolve_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,505},{26,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{26,50}</string>
            </dict>
            <key>dissolve_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{41,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,3}}</string>
                <key>sourceSize</key>
                <string>{41,3}</string>
            </dict>
            <key>dissolve_part.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,875},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>fast_count_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,340},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>game_common_chat_scale9_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,749},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>game_common_chat_scale9_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,705},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>game_common_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,940},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>game_common_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,510},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>game_common_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,908},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>game_common_play_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,973},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,41}</string>
            </dict>
            <key>game_common_play_chat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,705},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,41}</string>
            </dict>
            <key>game_common_play_chat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,747},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,41}</string>
            </dict>
            <key>game_common_replay_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,629},{77,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>game_common_replay_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,517},{167,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,163}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>game_common_replay_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{108,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,149}}</string>
                <key>sourceSize</key>
                <string>{108,149}</string>
            </dict>
            <key>game_common_replay_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,235},{110,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,163}}</string>
                <key>sourceSize</key>
                <string>{110,163}</string>
            </dict>
            <key>game_common_replay_prev.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,546},{164,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,163}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>game_common_replay_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,235},{309,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,86}}</string>
                <key>sourceSize</key>
                <string>{309,86}</string>
            </dict>
            <key>game_common_replay_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,682},{160,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,82}}</string>
                <key>sourceSize</key>
                <string>{160,82}</string>
            </dict>
            <key>game_common_warning_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{499,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,33}}</string>
                <key>sourceSize</key>
                <string>{499,33}</string>
            </dict>
            <key>game_more_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,904},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>game_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,231}}</string>
                <key>sourceSize</key>
                <string>{456,231}</string>
            </dict>
            <key>game_waiting_start_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,911},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>homeowner_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,810},{41,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,63}}</string>
                <key>sourceSize</key>
                <string>{41,63}</string>
            </dict>
            <key>ju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,711},{123,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,37}}</string>
                <key>sourceSize</key>
                <string>{123,37}</string>
            </dict>
            <key>ju_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,705},{122,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,37}}</string>
                <key>sourceSize</key>
                <string>{122,37}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,875},{17,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,29}}</string>
                <key>sourceSize</key>
                <string>{17,29}</string>
            </dict>
            <key>net_state_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,517},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>net_state_unreachable.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,747},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>net_state_wifi.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,906},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>next_round_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,909},{128,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,400},{108,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,33}}</string>
                <key>sourceSize</key>
                <string>{108,33}</string>
            </dict>
            <key>room_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,829},{86,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,39}}</string>
                <key>sourceSize</key>
                <string>{86,39}</string>
            </dict>
            <key>rule_section_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,836},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>time_buttom.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,711},{159,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,34}}</string>
                <key>sourceSize</key>
                <string>{159,34}</string>
            </dict>
            <key>user_node.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,235},{191,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,280}}</string>
                <key>sourceSize</key>
                <string>{191,280}</string>
            </dict>
            <key>waiting_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,981},{160,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,31}}</string>
                <key>sourceSize</key>
                <string>{160,31}</string>
            </dict>
            <key>waiting_user_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,149},{31,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,82}}</string>
                <key>sourceSize</key>
                <string>{31,82}</string>
            </dict>
            <key>warning_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,917},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>warning_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{109,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,97}}</string>
                <key>sourceSize</key>
                <string>{109,97}</string>
            </dict>
            <key>warning_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,235},{62,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,268}}</string>
                <key>sourceSize</key>
                <string>{62,268}</string>
            </dict>
            <key>warning_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{50,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,145}}</string>
                <key>sourceSize</key>
                <string>{50,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_common.png</string>
            <key>size</key>
            <string>{523,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a1051fec33d7f493f454a5b93a94d6:87261084111a39cff654d03159004e65:8f9064b23b34f76d0af946008e36d748$</string>
            <key>textureFileName</key>
            <string>game_common.png</string>
        </dict>
    </dict>
</plist>
